<%# cssはapp/assets/stylesheets/user-show.cssに記載 %>

<%= render "shares/sub_header" %>

<div class="container">

<%# -----サブタイトル部分----- %>
  <div class="row user__show--main">
    <div class="col-12 show__area--name">
        <p><%= @user.nickname %>さんのマイページ</p>
    </div>
  </div>

<%# -----ユーザー情報編集リンク部分----- %>
  <div class="row user__show--nav">
    <% if current_user.id == @user.id %>
      <%= link_to '基本情報変更', edit_user_registration_path, class: "btn btn-outline-primary user-btn" %>
      <%= link_to '登録住所変更', edit_user_address_path(@address), class: "btn btn-outline-primary user-btn" %>
    <% end %>
  </div>

<%# -----サブタイトル部分----- %>
  <div class="row user__show--main">
    <div class="col-12 show__area--index">
        <p>レビューを投稿した本の一覧</p>
    </div>
  </div>

<%# -----ユーザーレビュー一覧部分----- %>
  <div class="row user__show--book-area">
    <% if @books.blank? %>
      <div class="card col-xs-12 col-lg-8">
        <p class="card__none">レビューを投稿しよう！</p>
      </div>
    <% end %>

    <% @books.each do |book| %>
      <div class="col-12 user__show--book">
        <div class="col-2 user__show--book--img">
          <%= image_tag book.image, class: "user__show-image" %>
        </div>
        <div class="col-4 user__show--book--content">
          <h5 class="mt-0 user__show--book--title">タイトル：<%= book.title %></h5>
          <h4><%= link_to '本詳細', book_path(book.id), class: "badge badge-info" %></h4>
        </div>
      </div>
    <% end %>
  </div>

<%# -----サブタイトル部分----- %>
  <div class="row user__show--main">
    <div class="col-12 show__area--index">
        <p>お気に入りした本の一覧</p>
    </div>
  </div>

<%# -----ユーザーお気に入り一覧部分----- %>
  <div class="row user__show--book-area">
    <% if @favorites.blank? %>
      <div class="card col-xs-12 col-lg-8">
        <p class="card__none">お気に入りした本はありません</p>
      </div>
    <% end %>

    <% @favorites.each do |favorite| %>
      <div class="col-12 user__show--book">
        <div class="col-2 user__show--book--img">
          <%= image_tag favorite.image, class: "user__show-image" %>
        </div>
        <div class="col-4 user__show--book--content">
          <h5 class="mt-0 user__show--book--title">タイトル：<%= favorite.title %></h5>
          <%= link_to '本詳細', book_path(favorite.id), class: "badge badge-info"  %>
        </div>
            
      </div>
    <% end %>
  </div>
</div>

<%= render "/shares/footer_form" %>