<%= render "shares/sub_header" %>

<div class="container">

  <div class="row user__show--main">
    <div class="col-12 show__area--name">
        <p><%= @user.nickname %>さんのマイページ</p>
    </div>
  </div>

  <div class="row user__show--nav">
    <%= link_to '基本情報変更', edit_user_registration_path, class: "btn btn-outline-primary user-btn" %>
    <%= link_to '登録住所変更', edit_address_path(current_user.id), class: "btn btn-outline-primary user-btn" %>
  </div>

  <div class="row user__show--main">
    <div class="col-12 show__area--index">
        <p>レビューを投稿した本の一覧</p>
    </div>
  </div>

  <div class="row user__show--book-area">
      <% if @books.blank? %>
        <div class="card col-xs-12 col-lg-8">
          <p class="card__none">レビューを投稿しよう！</p>
        </div>
      <% end %>

      <% @books.each do |book| %>
        <div class="col-12 user__show--book">
          <div class="col-2 user__show--book--img">
            <%= image_tag book.image, class: "user__show-image" %>
          </div>
          <div class="col-4 user__show--book--content">
            <h5 class="mt-0 user__show--book--title">タイトル：<%= book.title %></h5>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle"type="button" data-toggle="dropdown">menu</button>
              <div class="dropdown-menu " >
                <%= link_to '本詳細', book_path(book.id), class: "dropdown-item book--content" %>
                <%= link_to '本詳細編集', edit_book_path(book.id), class: "dropdown-item book--content" %>
                <%= link_to 'レビュー編集', edit_review_path(book.id), class: "dropdown-item book--content" %>
                <%= link_to '削除', book_path(book.id), method: :delete, class: "dropdown-item book--content delete" %>
              </div>
            </div>
            
          </div>
        </div>
      <% end %>
    </div>
  </div>



</div>