
<%= render "/shares/header_form" %>

<main>
  <div class="container">

    <div class="row main__image">
      <div class="col-12 main__container--image">
        <div class="main__container--text">
        <h2>読書家たちのコミュニケーションスペース</h2>
        <p>いろいろな本や人と出会おう</p>
        </div>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="row main__btn">
        <div class="card col-xs-12 col-lg-6 book__main__btn">
          <%= link_to '感想を投稿する', new_book_path, class: "btn btn-info btn-set" %>
        </div>
      </div>
    <% end %>

    <div class="row main__title">
      <div class="card col-xs-12 col-lg-8 book__main__title">
        <h1>読書家たちの感想一覧</h1>
        <hr class="border">
      </div>
    </div>

    <div class="row main__nav">
      <p class="search__text">カテゴリーから検索する</p>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          カテゴリー
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% Category.all.each do |category| %>
          <p class="category--list"><%= category.name %></p>
          <% end %>
        </div>
      </div>
    </div>

    
    <div class="row main__area">
      <% if @books.blank? %>
        <div class="card col-xs-12 col-lg-8">
              <p class="card__none">現在は投稿がありません</p>
        </div>
      <% end %>

      <% @books.each do |book| %>
        <div class="card col-xs-12 col-lg-3">
          <%= image_tag book.image, class: "card-img-top" %>
          <p class="card__user">投稿者：<%= book.user.nickname %></p>
          <div class="card-body">
            <p class="card__title">タイトル：</p>
            <p class="card-text"><%= book.title %></p>
            <p class="card__title">著者：</p>
            <p class="card-text"><%= book.author %></p>
            <p class="card__title">出版社：</p>
            <p class="card-text"><%= book.publisher %></p>
            <p class="card__title">カテゴリー：</p>
            <p class="card-text"><%= book.category.name %></p>
            <%= link_to '詳細', "", class: "btn btn-secondary card_btn" %>
          </div>
      <% end %>
    </div>
  </div>

</main>

<%= render "/shares/footer_form" %>