<%# cssはapp/assets/stylesheets/book-index.cssに記載 %>

<%= render "/shares/header_form" %>

<main>
  <div class="container">

<%# -----メイン画像部分----- %>
    <div class="row main__image">
      <div class="col-12 main__container--image">
        <div class="main__container--text">
        <h2>読書家たちのコミュニケーションスペース</h2>
        <p>いろいろな本や人と出会おう</p>
        </div>
      </div>
    </div>

<%# -----レビュー投稿部分----- %>
    <% if user_signed_in? %>
      <div class="row main__btn">
        <div class="card col-xs-12 col-lg-6 book__main__btn">
          <%= link_to 'レビューを投稿する', new_book_path, class: "btn btn-info btn-set" %>
        </div>
      </div>
    <% end %>

<%# -----サブタイトル部分(new,edit,show,searchでも使用)----- %>
    <div class="row main__title">
      <div class="card col-xs-12 col-lg-8 book__main__title">
        <h1>読書家たちのレビュー 一覧</h1>
        <hr class="border">
      </div>
    </div>

<%# -----検索フォーム部分----- %>
    <div class="row main__nav">
      <div class="col-6 search__form--area">
        <%= form_with url: search_books_path, local: true, method: :get, class: "search-form" do |f| %>
          <%= f.text_field :keyword, class: "form-control search-input", placeholder: "タイトル・著者名を入力して下さい..."%>
          <%= f.submit "検索", class: "btn btn-info search-btn" %>
        <% end %>
      </div>
      
      <p class="search__text">カテゴリーから検索する</p>
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          カテゴリー
        </button>
        <div class="dropdown-menu category-list" aria-labelledby="dropdownMenu1">
          <% Category.all.each do |category| %>
          <%= link_to category.name, category_search_books_path(category_id: category.id), class: "category--list"%>
          <% end %>
        </div>
      </div>
    </div>

<%# -----レビュー一覧部分----- %>
    <div class="row main__area">
      <% if @books.blank? %>
        <div class="card col-xs-12 col-lg-8">
          <p class="card__none">現在はレビューがありません</p>
        </div>
      <% end %>

      <% @books.each do |book| %>
        <div class="card col-xs-12 col-lg-3">
          <%= image_tag book.image, class: "card-img-top" %>
          <p class="card__user">投稿者：<%= book.user.nickname %>さん</p>
          <p>コメント数：<%= @comments.where(book_id: book.id).where.not(user_id: book.user_id).count %></p>
          <div class="card-body">
            <p class="card__title">タイトル：</p>
            <p class="card-text"><%= book.title %></p>
            <p class="card__title">著者：</p>
            <p class="card-text"><%= book.author %></p>
            <p class="card__title">出版社：</p>
            <p class="card-text"><%= book.publisher %></p>
            <p class="card__title">カテゴリー：</p>
            <p class="card-text"><%= book.category.name %></p>
            <%= link_to '詳細', book_path(book.id), class: "btn btn-outline-info card_btn" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @books %>
  </div>
</main>

<%= render "/shares/footer_form" %>